<div class="ui-g">
    <div class="ui-g-12">
        <a [routerLink]="['/reservations', 'new']" pButton type="text" icon="fa-plus"></a>
    </div>
  <form class="form-inline ui-g-12">
    <p-calendar [(ngModel)]="startDate" name="startDate" dateFormat="dd-MM-yy"></p-calendar>
    <p-calendar [(ngModel)]="endDate" name="endDate" dateFormat="dd-MM-yy"></p-calendar>
    <p-button type="submit" class="btn btn-default" (click)="search()" label="Search"></p-button>
  </form>

  <div *ngIf="filtered" class="ui-g-12">
    <p-button class="btn btn-primary" label="Remove filter" (click)="removeFilter()"></p-button>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-4 ui-xl-3" *ngFor="let reservation of reservations">
      <p-card title="{{reservation.realCar?.name}}" [routerLink]="['/reservations', reservation.id]" subtitle="{{reservation.realCustomer?.name}}">
          <p-header>
            <app-card-header-gradient icon="book" component="reservations"></app-card-header-gradient>
          </p-header>
          From: {{reservation.startDate | date:'dd-MM-yyyy'}}
          Until: {{reservation.endDate | date:'dd-MM-yyyy'}}
      </p-card>
  </div>