$backgroundColor: white;
$backgroundAccent: #34383f;

$textColor: black;
$textAccent: white;

$bordersColor: #e8e8e8;

$titleFont: 'Roboto', sans-serif;
$textFont: 'Open Sans', sans-serif;

$lightBlueAccent: #6190e8;
$darkBlueAccent: #a7bfe8;

$carsAccent1: #ff5e62;
$carsAccent2: #ff9966;

$customersAccent1: #6a3093;
$customersAccent2: #a044ff;

$reservationsAccent1: #ed8f03;
$reservationsAccent2: #ffb75e;