$backgroundColor: white;
$backgroundAccent: #34383f;

$textColor: black;
$textAccent: white;

$titleFont: 'Roboto', sans-serif;
$textFont: 'Open Sans', sans-serif;

$lightBlueAccent: #63b6db;
$darkBlueAccent: #309dcf;