@import '../../../sass/_variables';
@import '../../../sass/_mixins';
:host {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    &[component="cars"] {
        @include horizontal-gradient($carsAccent1, $carsAccent2);
    }

    &[component="customers"] {
        @include horizontal-gradient($customersAccent1, $customersAccent2);
    }

    &[component="reservations"] {
        @include horizontal-gradient($reservationsAccent1, $reservationsAccent2);
    }
}