<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-4 ui-xl-3" *ngFor="let car of cars">
        <p-card title="{{car.name}}" subtitle="&euro; {{car.pricePerDay | number:'1.2'}} / day">
            <p-header>
                <img alt="test" src="https://www.primefaces.org/primeng/assets/showcase/images/usercard.png" />
            </p-header>
            Reservations: {{car.reservations.length}}
            <p-footer>
                <button pButton [routerLink]="['/cars', car.id]" type="button" label="View" icon="fa-eye"></button>
            </p-footer>
        </p-card>
    </div>
</div>