<div class="detail-component-container">
    <p-fieldset component="cars" class="ui-xl-6 ui-lg-8 ui-md-10 ui-g-12" legend="Create a car">
      <form [formGroup]="formGroup">
        <h3 class="first">Details</h3>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup notinline">
              <label>Name</label>
              <input type="text" formControlName="name" pInputText placeholder="Name">
            </div>
          </div>
  
          <div class="ui-g-12 ui-md-6">
            <div class="ui-inputgroup notinline">
              <label>Email</label>
              <input type="email" formControlName="email" pInputText placeholder="Email">
            </div>
          </div>
          <div class="ui-g-12 text-align-right">
              <button (click)="create()" label="Create" icon="fa-check" styleClass="ui-button-success" pButton></button>
          </div>
        </div>
      </form> 
    </p-fieldset>
  </div>